h1 {
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #FF8C00, #FF8C00 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #FF8C00, #FF8C00 2px, #fff 2px, #fff 4px);
}

h1{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
font-weight: bold;/* フォント太さ */
padding-top: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin-bottom: 0.05em;
}

.under {
  font-size: 170%;
  font-weight: bold;
  border-bottom: solid 3px #87CEFA;
}

.unde {
  background: linear-gradient(transparent 50%, #98FB98 50%);
}

footer {
  width: 100%;
  height: 200px;
  text-align: left;
  padding: 20px 0;
  background-color: #cab64a;
}

.btn{
    font-size: 160%;
}

.pic_frame {
      display: inline-block;
      text-align: center;
}
